
.userbody{
    background:rgb(224, 184, 108)
}
.userboard{
    color:black ;
}
.logo{
    border: 1px;
    border-radius: 4px;
    padding: 4px;
    width: 50px;
    height: 50px;
}
nav{
    /* background-color: green; */
    display: flex;
    background-color: transparent;
    color:rgb(224, 184, 108);
    align-items: ;

}
.nav-btn{
    margin-left: 150px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;

}
.searchbox{
    height: 40px;
    width: 400px;
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 50px;
}
img{
    border-radius: 7px;
    padding: 8px;
    width: 200px;
    height:200px;
}
.href{
    border-radius:7px;
    padding: 8px;
    width: 400px;
    height: 400px;
}


