<<<<<<< HEAD
.userbody{
    background:rgb(255, 196, 196)
}
.userboard{
    color:black
}
img{
    border-radius: 8px
}
=======
<<<<<<< HEAD
.index{
    background-color: aqua;
    
}
.userboard{
    color:rgb(0, 0, 0);
=======
.bookingform{
    background: rgba(72, 72, 175, 0.76)
}
.userboard{
    color:black;
>>>>>>> a8ce9cd7439bea46c383a8de4f60cf4e1824fcd4
}
>>>>>>> 45e7504dbdb7bf6536b99ce6c331180f5cb9559d