.userbody{
     background:rgb(224, 184, 108);
}
.userboard{
    color:black ;
}
.logo{
    border: 1px;
    border-radius: 4px;
    padding: 4px;
    width: 100px;
    height: 100px;
}
nav{
    /* background-color: green; */
    display: flex;
    background-color: transparent;
    color:rgb(224, 184, 108);
    align-items: ;

}
.nav-btn{
    margin-left: 150px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;

}
.searchbox{
    height: 40px;
    width: 480px;
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 5px;
}
img{
    width: 300px;
    height: 300px;
}
.one{
height: 400px;
width: 400px;
}
.h1{
    font-size: 50px;
    color: brown;
}
body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: rgb(224, 184, 108);
font-size: 17px;

}


